<ion-view>
  <ion-content>

    <div class="card">
      <div class="item item-divider" >
        Your Cart
      </div>
      <div class="item item-text-wrap" ng-repeat="item in cart">
        <div>
          {{item.dish_n}}
        </div>
        <div class="positive">
          {{item.price}}

        </div>
      </div>
      <div class="item item-divider" ng-click="showTotals()">
        <a class="item item-icon-left" href="#">
          <i class="icon ion-fork"></i>

          <strong class="item-note positive text-left col">
            Your Total
          </strong>
          <strong class="item-note positive ng-binding text-right">
            {{total}}
          </strong>
        </a>
      </div>
    </div>

  </ion-content>
</ion-view>