<ion-view title="Account">
  <ion-content class="has-header padding" ng-show="myUser == undefined">
    <div class="list">
      <label class="item ">
        <span class="input-label">Email</span>
        <input type="text" ng-model="user.email">
      </label>
      <label class="item" >
        <span class="input-label" >Password</span>
        <input type="password" ng-model="user.password">
      </label>

      <button class="button  button-block button-positive" ng-click=" login()">
        Login
      </button>
      <button class="button  button-block button-positive" ng-click=" register()">
        Register
      </button>
      <button class="button  button-block button-positive" ng-click=" fb()">
       <i class="icon ion-social-facebook"></i> Connect with Facebook
      </button>
    </div>
  </ion-content>

  <ion-content class="has-header padding" ng-show="myUser != undefined">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Login as</span>
        <span class="">{{ myUser.password.email }}</span>
        <span class="">{{myUser.facebook.displayName}}</span>
      </label>
      <button class="button  button-block button-assertive" ng-click=" logout()">
        Logout
      </button>
    </div>
  </ion-content>
</ion-view>
