<ion-view view-title="{{selectedRes.name}}">

  <ion-content>

    <div class="list card ">

      <div class="item item-avatar themeBg item-text-wrap">
        <img ng-src="{{selectedRes.img}}">
        <h2 class="assertive" style="font-weight: bold">{{selectedRes.name}}</h2>
        <p class="whiteColor ">{{selectedRes.address}}</p>
      </div>

      <ul class="list noMargins">

        <li class="item themeBg" ng-repeat="item in selectedRes.item">

          <button class=" button-icon ion-android-add whiteColor" ng-click="addToCart($index)"></button>

          <span class="whiteColor">{{item.dish_n}}</span>

          <strong class="assertive " style="float: right;" >
            {{item.price}} Rs
          </strong>
        </li>

      </ul>

      <a class="item item-icon-left assertive themeBg" ng-click="changeState()">
        <i class="icon ion-ios7-cart"></i>
        View Cart
      </a>

    </div>
  </ion-content>
</ion-view>
