<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.mjunaidsalaat.thefoodshop" version="1.2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>TheFoodShop</name>
  <description>
    An Ionic Framework and Cordova project with FireBase Implementation.
  </description>
  <author email="mjunaidsalaat@gmail.com" href="https://github.com/mjunaidsalaat">
    M. Junaid Salaat
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen" />
  <preference name="SplashScreenDelay" value="3000" />
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>